<h1>
  <p> {{title}} </p>
  <div class='overlay'>
    <h3>Select any section</h3>
    <input style="height:40px" ng2-auto-complete [(ngModel)]="sectionInfo" [source]="mySource.sections"
    [no-match-found-text] (ngModelChange) = "sectionSelected(sectionInfo)"/>{{sectionInfo}}
    <h3>Select any Sub Section</h3>
    <input style="height:40px" auto-complete [(ngModel)]="subSectionInfoCaptured" [source] = "this.subSectionInfo"
    [no-match-found-text]/>
    <h3>Select any Sub Sub Section</h3>
    <input style="height:40px" auto-complete [(ngModel)]="subSubSectionInfo" [source]="subSubSource.sections"
    [no-match-found-text]/>
  </div>
</h1>
