<h1>
  <h2 class="rideHeader"> {{header}} </h2>
  <div class="mainRideSearchContents">
    <div class="searchRegulationParent row">
      <div class="col-md-11" style="width:80%">Search Regulation</div>
      <div>
        <img (click) = "filterClick()" class="filterImage colmd-1" src="../src/img/filter icon_big.png"/>
      </div>
    </div>
    <div class="mainSearchInputContents row">
      <div class="searchInputParent centerBlock">
        <input class="searchInput" ng2-auto-complete [(ngModel)]="sectionInfo" [source]="mySource.sections"
        [no-match-found-text] [list-formatter]="testCss" placeholder="Labelling Requirements"/>
      </div>
    </div>
    <div [@filterPane]="state">
      <app-filter></app-filter>
    </div>
  </div>
</h1>
